.chat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid #fafafa;
}

.chat__details{
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit
}

/* a effects the Link component text dec takes away the lines color inherits from prev */

.chat__details > p {
    color: gray;
}

.chat__image{
    margin-right: 20px
}

.chat__timestamp{
    color: lightgrey;
}


/* .chat__image{
    margin-right: 20px
} 
this pushes over the chat details to the right 
*/

/* flex: 1; is to give the container 
to take up as much room as possible within the space between
before applying flex one the area it takes up is equal to space between
after it is applied it takes up as much of the space between as possible 
*/